@import "../../node_modules/react-image-crop/dist/ReactCrop.css";

.hologram-btn{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #3E3F3A;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.hologram-modal{
  .hologram-btn{
    margin-top: auto !important;
  }
}

.message{
  font-size: 24px;
  text-align: center;
}
.loading-icon{
  margin-left: auto;
  margin-right: auto;
}

.dropzone{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;

    .hologram-btn{
        display: inline-block;
        margin-right: 1em;
    }

    .image-wrapper{
        margin-left: 1em;
    }

    .dropzone-image{
        width: 200px;
        height: 200px;
        margin-right: 2em;
        display: inline-block;
        border-style: dashed dashed dashed dashed;
        overflow: hidden;
        background-color: #fff;
        border-radius: 10px;

        svg{
          position: relative;
          top: -194px;
          left: 84px;
          font-size: 24px;
          color: black;
          background-color: white;
          border-radius: 20px;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          &:hover{
            color: white;
            background-color: black;
          }
        }

        img{
            overflow: hidden;
            width:100%;
            height:100%;
            object-fit: cover;
            border-radius: 10px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            &:hover{
              opacity:0.5;
            }
        }
    }
}
