.dropzone{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .dropzone-image{
        width: 400px;
        height: 400px;
        overflow: hidden;
        float: left;

        img{
            overflow: hidden;
        }
    }
}
